.Container{
    width: 100%;
    line-height: 27px;
    position: relative;
}
h2{
    margin: 5px;
}
.imgProfile{
    width: 120px;
    height: 150px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.body{
    display: flex;
    margin: 20px 0;
}
.NameTittleProfile{
    width: 20%;
    margin-right: 2%;
}
.Objective>p{
    margin: 15px 0;
}
.Education{
    margin-top: 5%;
}
.content-Education{
    display: flex;
    margin-top: 2%;
}
.Year-Education{
    width: 40%;
}
.content-Work-Experience{
    display: flex;
    margin-top: 2%;
}
.Year-Work-Experience{
    width: 40%;
}
.content-Year>ul{
    list-style:circle;
    padding-left: 30px;
}
.Work-Experience{
    margin-top: 5%;
}